# More Pandas good stuff

The following are Pandas snippets that may be helpful, but are not well organized...

In [1]:
import pandas as pd
import numpy as np

### row reduction (axis=1)

In [2]:
arr = np.array([[1,5],[2,5],[3,5]])
df = pd.DataFrame(arr, columns=["col1", "col2"])
print(df)
print()
print(df.sum(axis=1))

   col1  col2
0     1     5
1     2     5
2     3     5

0    6
1    7
2    8
dtype: int64

### Reduce and "groupBy"
A table can be split into subset called groups.  Reduce can give a summary of each group.

In [3]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [4]:
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

### using multiIndex ...
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [5]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
                  index=index)
df

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [6]:
df.groupby(level=0).mean()

        Max Speed
Animal
Falcon      370.0
Parrot       25.0

In [7]:
df.groupby(level="Type").mean()

         Max Speed
Type
Captive      210.0
Wild         185.0

## Pivot (reshape)
https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

The example from that reference is below.  But we start with easier examples.

In summary:
1. "and" of values between two nominal columns (col_1 value and col_2 value) -> filter
1. "or"  of values between two nominal columns (col_1 value  or col_2 value) -> filter
1. "or'  of values within  one nominal column  (col_1 value  or col_1 value) ->  filter, then pivot

In [8]:
# example from https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': ['1', '2', '3', '4', '5', '6'],
                  'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
print(df)
df.pivot(index="foo", columns="bar", values="baz")

   foo bar baz zoo
0  one   A   1   x
1  one   B   2   y
2  one   C   3   z
3  two   A   4   q
4  two   B   5   w
5  two   C   6   t

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [9]:
df = pd.DataFrame({'Category_1': [100, 100, 100, 101, 101, 102],
                   'Category_2': ["apple", 'pear', 'banana', 'apple', 'pear', 'apple'],
                   'Value': [380., 370., 24., 26., 12., 28.]})
df

   Category_1 Category_2  Value
0         100      apple  380.0
1         100       pear  370.0
2         100     banana   24.0
3         101      apple   26.0
4         101       pear   12.0
5         102      apple   28.0

In [10]:
df.pivot(index="Category_1", columns="Category_2", values="Value")

Category_2  apple  banana   pear
Category_1
100         380.0    24.0  370.0
101          26.0     NaN   12.0
102          28.0     NaN    NaN

# Merge/Join of DataFrames (the .concat method)
See https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

# Specifying Schema when Creating a DataFrame

In [14]:
import pandas as pd
schema = {
    'left': int,
    'center_y': float,
    'original_file_path': str,
    "is_origin": bool}

df_objects = pd.DataFrame(columns=schema.keys()).astype(schema)
df_objects.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   left                0 non-null      int32
 1   center_y            0 non-null      float64
 2   original_file_path  0 non-null      object
 3   is_origin           0 non-null      bool
dtypes: bool(1), float64(1), int32(1), object(1)
memory usage: 0.0+ bytes

# Iterating through a DataFrame

In [15]:
for file_num, file_info in df_objects.iterrows():
    print("file_num {} of {}".format(file_num, df_objects.shape[0]))
    #print(file_info)

    if file_info['blah']:
        print('foo')

# Appending to DataFrame

In [16]:
# the example is from 004b_auto_labeler.ipynb  in "opencv tutorial" git
def df_from_image(image):
    count, labels, stats, centr = cv.connectedComponentsWithStats(image)
    df = pd.DataFrame(stats, columns=['left', 'top', 'width', 'height', 'area_px'])
    # convenience add right/bottom and center x/y
    df['bottom'] = df['top'] + df['height'] - 1
    df['right'] = df['left'] + df['width'] - 1
    df['center_y'] = centr[:,1]
    df['center_x'] = centr[:,0]
    df['area_bb'] = df['width'] * df['height']
    df['density'] = df['area_px'] / df['area_bb']
    return df

# Find connected components
objects_this_image = df_from_image(img_masked)

# append to the overall list of objects
df_objects = df_objects.append(objects_this_image, ignore_index=True)

NameError: name 'img_masked' is not defined

# *Pandas has amazing functions for data analysis, series, plotting...*
* Rolling windows: https://pandas.pydata.org/pandas-docs/stable/reference/window.html
* Series types and functions:  https://pandas.pydata.org/pandas-docs/stable/reference/series.html
* General functions (e.g. Pivot, time/date) https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot.html
* Plotting:  https://pandas.pydata.org/pandas-docs/stable/reference/plotting.html

Examples:
* df["column"].unique()
* df.isnull().sum()


* df.corr() (de-factors scale)
* df.cov() (preserves units)
* df.kurt() # kurtosis - a measure of 'tailness' of sample, from 1 to infinity.  A.normal distribution measures "3". 


* df.info()
* df describe()
* df.describe(include=['O'])         (include categorical)
* df.hist()

In [17]:
# https://towardsdatascience.com/let-us-understand-the-correlation-matrix-and-covariance-matrix-d42e6b643c22

# *Relational Data in the context of Data Science (including Pandas and SQLite)*
https://www.datasciencecourse.org/notes/relational_data/

# *Pandas vs SQL (command mappings)*
https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html